@using Microsoft.AspNetCore.Components.Forms
@inherits ViewBase<TeamViewModel>

<div class="d-flex justify-content-evenly">
    <div class="hstack gap-2">
        <div>
            @if (@DataContext.Logo != null)
            {
                <Figure Size="FigureSize.Is32x32" Margin="Margin.Is0">
                    <FigureImage Source="@GetPictureContent()" />
                </Figure>
            }
        </div>
        <div>
            <Heading Size="HeadingSize.Is3" Style="margin-bottom: 0">@DataContext.Name @(!string.IsNullOrWhiteSpace(DataContext.NameInitials) ? "(" + DataContext.NameInitials + ")" : "")</Heading>
        </div>
        <div>
            <Blazorise.Button Clicked="ShowModal" Style="padding: 0">
                <Icon Name="IconName.Edit" />
            </Blazorise.Button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-evenly" style="padding-top: 1rem">
    <div>
        <div class="vstack">
            <Heading Size="HeadingSize.Is5" Style="text-align:center">Points</Heading>
            <div class="hstack gap-2">
                <Blazorise.Button Size="Size.Large" Disabled Color="Color.Success" Style="width: 75px">@DataContext.Points</Blazorise.Button>
            </div>
        </div>
    </div>
    <div class="vr" />
    <div>
        <div class="vstack">
            <Heading Size="HeadingSize.Is5" Style="text-align:center">Fouls</Heading>
            <div class="hstack gap-2">
                <Blazorise.Button Size="Size.Large" Disabled Color="Color.Danger" Style="width: 50px">@DataContext.Fouls</Blazorise.Button>
            </div>
        </div>
    </div>
    <div class="vr" />
    <div>
        <div class="vstack">
            <Heading Size="HeadingSize.Is5" Style="text-align:center">Timeouts</Heading>
            <div class="hstack gap-2">
                <Buttons Size="Size.Large">
                    <Blazorise.Button Disabled Color="@(DataContext.Timeouts > 0 ? Color.Dark : Color.Danger)" Style="width: 50px">@DataContext.Timeouts</Blazorise.Button>
                    <Blazorise.Button Disabled Color="@(TimeOutClock.IsRunning && TimeOutClock.Clock.TotalSeconds != 60 ? Color.Danger : Color.Success)" Style="width: 60px">@Convert.ToInt32(TimeOutClock.Clock.TotalSeconds)</Blazorise.Button>
                </Buttons>
                <Buttons Size="Size.Default">
                    <Blazorise.Button Outline Color="Color.Danger" Style="width: 40px" Disabled="@(DataContext.Timeouts > 0 ? false : true)" Clicked="TimeOutButtonClicked">-</Blazorise.Button>
                    <Blazorise.Button Outline Color="Color.Success" Style="width: 40px" Disabled="@(DataContext.Timeouts <= 2 ? false : true)" Clicked="TimeOutButtonAdd" >+</Blazorise.Button>
                    <Blazorise.Button Outline Color="Color.Dark" Style="width: 40px" Disabled="@(TimeOutClock.Clock.TotalSeconds != 60 ? false : true)" Clicked="TimeOutClockChange">
                        <Icon Name="@(TimeOutClock.IsRunning ? IconName.Pause : IconName.Play)"/>
                    </Blazorise.Button>
                </Buttons>
            </div>
        </div>
    </div>
</div>

<div style="padding-top: 1rem">
    <TeamTableView DataContext="@DataContext" />
</div>

<Modal @ref="modalRef">
    <ModalContent Centered Size="ModalSize.Small">
        <ModalHeader>
            <ModalTitle>Edit team</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit @ref="modalName" Placeholder="Enter name..." Text="@DataContext.Name" />
            </Field>
            <Field>
                <FieldLabel>Name (Short)</FieldLabel>
                <TextEdit @ref="modalNameShort" Placeholder="Enter short name..." Text="@DataContext.NameShort" />
            </Field>
            <Field>
                <FieldLabel>Name (Initials)</FieldLabel>
                <TextEdit @ref="modalNameInitials" Placeholder="Enter initials..." Text="@DataContext.NameInitials" />
            </Field>
            <Field>
                <FieldLabel>Logo</FieldLabel>
                <Card>
                    <CardBody>
                        <FileEdit Changed="@OnChanged"/>
                    </CardBody>
                    <CardImage Source="@GetPictureContent()" />
                </Card>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Blazorise.Button Color="Color.Secondary" Clicked="@HideModal">Cancel</Blazorise.Button>
            <Blazorise.Button Color="Color.Primary" Clicked="@FinishModal">Save Changes</Blazorise.Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{
    private Modal modalRef;
    private TextEdit modalName;
    private TextEdit modalNameShort;
    private TextEdit modalNameInitials;
 
    DownClock TimeOutClock;

    private string GetPictureContent()
    {
        if (DataContext.Logo == null)
            return string.Empty;

        return "data:image;base64," + Convert.ToBase64String(@DataContext.Logo);
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        var memoryStream = new MemoryStream();
        e.File.OpenReadStream().CopyToAsync(memoryStream);
        DataContext.Logo = memoryStream.ToArray();
    }

    async Task OnChanged(FileChangedEventArgs e)
    {
        var file = e.Files.FirstOrDefault();

        if (file == null)
            return;

        using (var stream = new MemoryStream())
        {
            await file.WriteToStreamAsync(stream);
            DataContext.Logo = stream.ToArray();
        }
    }

    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }

    private void FinishModal()
    {
        DataContext.Name = modalName.Text;
        DataContext.NameShort = modalNameShort.Text;
        DataContext.NameInitials = modalNameInitials.Text;
        //DataContext.Logo =
        //throw new NotImplementedException();
        modalRef.Close(CloseReason.None);
    }

    protected override void OnInitialized()
    {
        //initialize TimeOutClock 
        TimeOutClock = new BaSta.Model.DownClock(TimeSpan.FromSeconds(60));
        TimeOutClock.ClockChanged += OnTimeOutClockChanged;

        //Set Timeout as standard to value "2". Idea: Value set based on period first halftime 2, second halftime 3, overtime 1
        DataContext.Timeouts = 2;

    }

    private void OnTimeOutClockChanged(object? sender, ShotClockStateChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    void TimeOutButtonClicked()
    {
        //Backend stop of timeout is already zero, first check is on front end. Start timeout as soon the button is pressed to recude the value
        if(DataContext.Timeouts != 0)
        {
            TimeOutClock.SetState(!TimeOutClock.IsRunning);
            DataContext.Timeouts--;
        }
    }

    void TimeOutButtonAdd()
    {
        //Here or at the front should be checked the max. timeout value based on period
        TimeOutClock = new BaSta.Model.DownClock(TimeSpan.FromSeconds(60));
        DataContext.Timeouts++;
    }

    void TimeOutClockChange() => TimeOutClock.SetState(!TimeOutClock.IsRunning);
}